.offer
    background: url('../img/offer/offer_bg.png') no-repeat
    background-position: center right
    background-size: contain
    background-position-x: 834px
    position: relative
    &:before
        content: ''
        width: 50%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-color: #fff
    &-block
        width: 50%
        padding-right: 90px
        position: relative
        padding-top: 43px
    &__title
        max-width: 360px
        line-height: 35px
        margin-bottom: 19px
    &__subtitle
        max-width: 250px
        margin-bottom: 31px
    &__input
        margin-bottom: 30px
        width: 240px
        &:first-child
            margin-right: 10px
        &:focus
            border: 1px solid #FFD800
            outline: none
    &__button
        width: 100%
        min-height: 70px
        font-size: 16px
        +bold
    &-text
        display: flex
        justify-content: space-between
        margin-top: 25px
        margin-bottom: 72px
        &__text_we-call
            font-size: 15px
            line-height: 24px
            width: 230px
        &__text_you-call
            font-size: 15px
            line-height: 24px
            width: 200px
            &__phone
                +bold

@media (max-width: 1200px)
    .offer
        background-size: cover
        &__input
            width: 100%
            margin-bottom: 10px
        &__button
            font-size: 13px
@media (max-width: 768px)
    .offer
        background: #fff
        &-block
            width: 100%
            padding-right: 0